doctype html

html
 head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
    
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

    link(rel='stylesheet', href='style.css')
    

 body
  block content
    
    script(src='https://code.jquery.com/jquery-3.2.1.min.js'
           integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
           crossorigin='anonymous')
           
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
           integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')  
  div.container
    div.qr
        img(src="/qr/:text", alt="qr")

    div.whatsappmenu
        p Message
        textarea#message(name="pesan", cols="80", rows="3")
        p image
        form(action="/upload" ,enctype="multipart/form-data", method="post")
            input#imagefile(type="file", name="photo")
            img#yourimagepreview(src="", alt="your image preview")
        p caption
        textarea#caption(name="caption", cols="80", rows="3")
        p contact
        textarea#contact(name="contact", cols="80", rows="3")
        button(type='submit') submit
        p#status status
